.body-padding-2em {
	padding:2em;
}

.text-indent-2em {
	text-indent: 2em;
}

.margin-bottom-15px {
    margin-bottom: 15px;
}

.width-percent-100 {
	width: 100%;
}

.border-bottom-ddd {
	border-bottom: 1px solid #ddd;
}

.padding-left-20px {
}